# Зависимости
node_modules/
npm-debug.log

# Системные файлы
.git/
.gitignore
.DS_Store

# Окружение
.env
.env.local
.env.production
.env.test

# Логи
logs/
*.log

# Артефакты сборки
dist/
coverage/
.nyc_output/

# IDE
.vscode/
.idea/